body {
    background-color: lightblue;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* Float the list items side by side */
ul.topnav li {
    float: right;
}


/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: cadetblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of links on hover */
ul.topnav li a:hover {
    background-color: skyblue;
    color: white;
}

figure {
    margin-left: 150px;
    margin-top: 30px;
}