body{
    background-color: antiquewhite;
}

h1{
    font-family: arial;
    color: palevioletred;
    text-align: center;
}

div {
    font-family: sans-serif;
    -webkit-column-count: 3; /*Chrome , Safari, Opera */
    -mor-column-count: 3; /*Firefox */
    column-count: 3;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px; /*Firefox*/
    column-gap: 50pxl
}

#columns{
    background-color: lightblue;
}
    
#diff-col{
}

#diff-col .left-col{
    width: 30%;
    padding: 20px;
    background: lightyellow;
}

#diff-col .left-col{
    width: 30%;
    padding: 10px;
    background: lightyellow;
}

#diff-col .mid-col{
    width: 30%;
    padding: 10px;
    background: lightgray;
}

#diff-col .right-col{
    width: 30%;
    padding: 10px;
    background: lightgreen;
}


