body{
    background-color: antiquewhite;
}

h1{
    font-family: arial;
    color: palevioletred;
    text-align: center;
}

div {
    font-family: sans-serif;
    -webkit-column-count: 3; /*Chrome , Safari, Opera */
    -mor-column-count: 3; /*Firefox */
    column-count: 3;
}

#columns{
    background-color: lightblue;
}
    
